.App {
  display: flex; /* Enables flexbox layout */
  flex-direction: row; /* Aligns children (sidebar and main content) horizontally */
  align-items: flex-start; /* Aligns items at the start of the container */
  justify-content: center; /* Centers the main content */
  height: 100vh;
  max-width: 1920px;
  margin: auto; /* Centers the .App container itself */
  position: relative; /* For positioning child elements */
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(./fonts/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(./fonts/Lato-Black.ttf) format('truetype');
    
}

* {
  font-size: 100%;
  font-family: Lato;
  font-weight: 100;
 }