/* styles.css */

/* Main Container Styles */
.registration-form-container {
  display: flex;
  justify-content: center; /* Horizontally centers the form */
  align-items: center; /* Vertically centers the form */
  height: 100vh;
  text-align: right; /* Aligns text to the right */
}

/* Form Styles */
.registration-form {
  width: 300px; /* Fixed width for mobile devices */
  max-width: 80%; /* Maximum width in relation to parent container */
  background-color: #fff; /* White background for the form */
  opacity: 0.9; /* Slightly transparent background */
  border-radius: 5px; /* Rounded corners for the form */
  padding: 50px 20px; /* Padding around the content */
}

/* Media Queries */

/* For tablets and devices with a viewport width of 768px and above */
@media (min-width: 768px) {
  .registration-form-container {
    border: none; /* No border for larger devices */
    box-shadow: 0px 0px 0px 0px; /* Reset box-shadow */
  }

  .registration-form {
    max-width: 60%; /* Increase maximum width for larger screens */
    box-shadow: 2px 2px 4px 0px #E65F67; /* Subtle shadow for depth */
  }
}

/* For desktops and devices with a viewport width of 1024px and above */
@media (min-width: 1024px) {
  .registration-form {
    max-width: 60%; /* Consistent max-width with tablet view */
    box-shadow: 2px 2px 4px 0px #E65F67; /* Same shadow as tablet view */
  }
}

.app-bar {
  display: flex;
  margin-bottom: 64px;
  z-index: 10;
}


.home-tracklist {
  z-index: 10;
  background-color: white;
  position: absolute;
  top: 55px;
  left: 0;
  width: 270px;
  height: 100vh;
  padding: 20px;
  border-radius: 5px;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}


.main-content {

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
  padding-left: 0; /* Adjust for mobile, no sidebar initially visible */
}

/* Toggle class for showing the sidebar */
.home-tracklist.active {
  transform: translateX(0);
}

/* Media query for larger screens */

.home-tracklist {
  position: fixed;
  transform: translateX(-100%); /* Always visible on larger screens */
}





/* Sidebar Buttons CSS */

.sidebar .registerButton {
  border: none;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: left;
  border-radius: 0px;
  border-bottom: 2px solid black; /* Adds a 2px solid black bottom border */
}


/* Main Content Components */

.main-content .map {
  overflow: auto;
  border-radius: 10px;
  z-index: 1;
  height: 60vh; /* Adjust height as needed */
  width: 100vw; /* Default to full viewport width on smaller screens */
  /* position: relative; is usually needed for Leaflet's map container or similar */
}

/* Use a media query to apply styles for larger screens */
@media (min-width: 768px) { /* Adjust the breakpoint as needed */
  .main-content .map {
    width: 90vw; /* Use viewport height as width on larger screens */
  }
}



.details-container {
  width: 90vw;
  max-height: 40vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 3fr 2fr 1fr; /* Default to two columns */
  gap: 10px;
  background: #fff;
  font-family: 'Arial', sans-serif;
  padding-top: 20px;
  margin-bottom: 50px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .details-container {
    /* Adjust to a single column for mobile */
    grid-template-columns: 1fr;
  }
}



.details-header {
  display: grid;
  grid-template-columns: 3fr 1fr; /* Three columns by default */
  padding: 10px;
  gap: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.delivery-status {
  border: 1px solid #ddd;
}
/* Styles for individual elements */
.order-details, .vehicle-details, .delivery-status {
  
  padding: 15px;
  border-radius: 5px;
  text-align: left;
}

.delivery-timeline {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
}

/* Media query for PC screens */
@media screen and (min-width: 1024px) {
  .delivery-timeline {
    max-height: 100%; /* Example max height */
    overflow-y: auto; /* Enable scrolling if content exceeds max height */
  }
}


/* Media query for screens smaller than 768px */
@media (max-width: 1024px) {
  .details-header {
    /* Adjust to a single column for mobile */
    grid-template-columns: 1fr;
  }
}

.details-container h3 {
  text-align: left;
  font-weight: bold;
}

.details-header h3 {
  padding: 5px;
}

h3 {
  margin-top: 0;
  color: #333;
}

.delivery-status p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 0.9em;
  color: #666;
}

.order-details p {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  font-size: 1em;
  color: #666;
}

.qr-code {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the space between items */
  padding-top: 10px;
  flex: 1 1 100%;
  height: 75%;
}

/* Media query for screens smaller than 768px */

  .qr-code > * {
    flex: 1 1 100%; /* Each item takes full width in smaller screens */
  }


.qr-code p {
  margin-top: 0px; /* Adjust spacing as needed */
  text-align: center;
}

.qr-box {
  text-align: center;
}

/* Adjust text alignment for mobile */
@media screen and (max-width: 1024px) {
  .qr-box {
    text-align: center; /* Center-align in one-column layout */
  }
}

.qr-code canvas {
  border: 1px solid #ddd;
}


.warning-section {
  text-align: start;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  color: #666;
}

