.warning-section {
    padding: 10px;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .warning-section p, .warning-section ul {
    margin: 5px 0;
  }
  
  .warning-section ul {
    list-style-type: none;
    padding: 0;
  }
  